
<!-- Display data in card formate -->

<div class="container">
    <div class="row" >
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let itm of items">
          <div class="card h-100">
            <a routerLink="/items/{{uid}}/detail/{{item}}/{{itm.id}}/{{uid}}"><img class="card-img-top img-responsive"
               [src]="itm.imageUrl" [width]="width" [height]="height"></a>
            <div class="card-body">
              <h4 class="card-title text-truncate">
                <a routerLink="/items/{{uid}}/detail/{{item}}/{{itm.id}}//{{uid}}">{{itm.name}}</a>
              </h4>
              <h5>{{itm.unitPrice | currency: 'INR'}}</h5>
              <p class="card-text text-truncate">{{itm.description}}</p>
            </div>
            <div class="card-footer">
              <button (click)="addInCart(itm)" class="btn btn-primary float-right">Add Cart</button>
            </div>
          </div>
        </div>
  
  </div>
