<div class="container">
            <div class="row" >
            <div class="col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img [src]="item.imageUrl" [width]="width" [height]="height">
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                    <h3>{{item.name}}</h3><hr>
                    <p>{{item.description}}</p><hr>
                    <h4>price: <strong>{{item.unitPrice | currency: 'INR'}}</strong></h4><hr>
                    <h6>Qty. Available: {{item.unitsInStock}}</h6>
                    <a href="" class="btn btn-success"><i class="fas fa-arrow-left"></i>Back</a>
                    <button (click)="addInCart(item)" class="btn btn-primary ml-1"><i class="fas fa-cart-arrow-down"></i>Add to cart</button>
            </div>
        </div>
  
  </div>
