   <div class="ptop">
   <div class="wrapper">
    <div class="content">
        <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="/items/{{uid}}">Online shopping....</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
       aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link a" routerLink="/items/{{uid}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" >Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" >Contact</a>
          </li>
          
        </ul>

        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" >Settings</a>
                  <a class="dropdown-item">Activity Log</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/">Logout</a>
              </div>
          </li>
      </ul>

      <!-- Search box -->
          

      <form class="form-inline ml-2 " #form="ngForm" (ngSubmit)="onSearch()">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="search" required [(ngModel)]="key" 
            aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
            <div class="input-group-append">
                <button type="submit" [disabled]="form.invalid" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- cart -->

    <a class="btn btn-success btn-sm ml-3" href="/items/{{uid}}/cart/{{uid}}">
      <i class="fa fa-shopping-cart"></i> Cart
      <span class="badge badge-light">{{noOfItemInCart}}</span>
  </a>
      
    </div>
  </nav>
 <br/>

 
 <!-- Page Content -->
 <div class="container">

  <div class="row">
    <div class="col-lg-3">
      <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <div *ngFor="let item of items">
        <ul class="navbar-nav ml-auto ml-md-3">
          <li class="nav-item dropdown">
              <button (click)="onClick(item.id,item.categoryName)" class="nav-link dropdown-toggle c btn btn-link" id="userDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">{{item.categoryName | titlecase}}</button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <div *ngFor="let Category of Categorys">
                  <a  class="dropdown-item b" routerLink="/items/{{uid}}/get/{{suburl}}/{{Category.id}}/{{uid}}">{{Category.categoryName}}</a>
                </div>     
              </div>
          </li>
      </ul>
      </div>
      
    </div>
  </div>

    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">

      <div *ngIf="subUrl == undefined && isSubUrlValid" class="col-md-12 alert alert-warning mt-3">
        Please select any item
      </div>

      <router-outlet></router-outlet>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->




</div>

  
</div>
   
