
<div class="container-fluid bgc bg-light">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<a routerLink=""><span><i class="fab fa-facebook-square"></i></span></a>
					<a routerLink=""><span><i class="fab fa-google-plus-square"></i></span></a>
					<a routerLink=""><span><i class="fab fa-twitter-square"></i></span></a>
				</div>
			</div>
			<div class="card-body">
				<form #form="ngForm" (ngSubmit)="onLogin()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" required class="form-control" placeholder="username" [(ngModel)]="username" #name="ngModel">
						
					</div>
					<!-- validation for username input// -->

					<div *ngIf="name.invalid && (name.dirty || name.touched)">
						<div *ngIf="name.errors.required" style="color: red;">
							UserName is required.
						</div>
				   </div>
			
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input (blur)="getData()" type="password" required name="password" 
						class="form-control" placeholder="password" [(ngModel)]="password" #pass="ngModel">
					</div>

					<!-- validation for password input// -->

					<div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
						<div *ngIf="pass.errors.required" style="color: red;">
							password is required.
						</div>
				   </div>
			
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<button type="submit" class="btn float-right login_btn">Login</button>
					</div>
	              <div *ngIf="invalid" style="color: red">
                        Invalid input.
				  </div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a routerLink="/register">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>

