<div class="container-fluid">
    
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <p>
            <a routerLink="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
            <a routerLink="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>

        <!-- template driven form -->

        <form #form="ngForm" (ngSubmit)="onSubmit()">

            <!-- input box for name// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="name" class="form-control" [(ngModel)]="user.name" required
            #name="ngModel" placeholder="Full name" type="text">

        </div>

        <!-- validation for name input// -->

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
       </div>

        <!-- form-group// -->
        <!-- input box for email// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="email" [(ngModel)]="user.email" required email #email="ngModel"
             class="form-control" placeholder="Email address" type="email">
        </div>

        <!-- validation for email// -->

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
             <!-- alert message for required validator// -->
            <div *ngIf="email.errors.required">
                Email is required.
            </div>

            <div *ngIf="email.errors.email">
                Enter valid email.
            </div>
       </div>

         <!-- form-group// -->

         
        <!-- input box for contact number// -->

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" [(ngModel)]="code" style="max-width: 120px;">
                <option *ngFor="let data of phoneCode">{{data}}</option>
            </select>
            <input name="contact" [(ngModel)]="user.contact" #contact="ngModel"
            required  pattern="[6789]{1}[0-9]{9}" class="form-control" placeholder="Phone number" type="text">
        </div> 
      

        <!-- form-group// -->

        <!-- validation for contact// -->

        <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger">
            <!-- alert message for required validator// -->
           <div *ngIf="contact.errors.required">
               Number is required.
           </div>
           <!-- alert message for pattern validator// -->
           <div *ngIf="contact.errors.pattern">
            Number is invalid.
           </div>
        </div>

        <!-- input box for Job Type// -->
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" name="job" [(ngModel)]="user.jobtype" required #job="ngModel">
                <option value="job"> Select job type</option>
                <option value="Designer">Designer</option>
                <option value="Manager">Manager</option>
                <option value="Accaunting">Accaunting</option>
                <option value="Other">Other</option>
            </select>

        </div>
         <!-- form-group end.// -->

            <!-- validation for jobType input// -->

        <div *ngIf="job.invalid && (job.dirty || job.touched)" class="alert alert-danger">
            <div *ngIf="job.errors.required">
                Job Type is required.
            </div>
       </div>

        


        <!-- input box for Job Type// -->
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" [(ngModel)]="user.password" required
            minlength="8" maxlength="12" #password="ngModel" placeholder="Create password" type="password">
        </div> 
        <!-- form-group// -->

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <!-- alert message for required validator// -->
           <div *ngIf="password.errors.required">
            password is required.
           </div>
           <!-- alert message for pattern validator// -->
           <div *ngIf="password.errors.minlength || password.errors.maxlength">
            password should be 8-12 character.
           </div>
        </div>


        
        <!-- <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Repeat password" type="password">
        </div> form-group//                                       -->

        <!-- submit button --> 

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid"> Create Account  </button>
        </div>
         <!-- form-group// -->
         
         <div *ngIf="done" class="alert alert-success">
             Registration Successful
         </div>
             
        <p class="text-center">Have an account? <a routerLink="">Log In</a> </p>    

    </form>

    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
    