<div class="page-wrap d-flex flex-row align-items-center pgn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block ">404</span>
                <div class="mb-4 lead a ">The page you are looking for was not found.</div>
                <a routerLink="/" class="btn btn-link a ">Back to Home</a>
            </div>
        </div>
    </div>
</div>

