

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td><img [src]="item.imgUrl" height="60px" width="80px" /> </td>
                            <td>{{item.product}}</td>
                            <td>{{item.available}}</td>
                            <td><div class="input-group">
                                     <button (click)="dicrement(item)" type="button" class=" btn btn-danger"  >
                                         <b>-</b>
                                     </button>
                               
                                 <input type="text" [value]="item.quantity" name="quant" disabled=true size="1" class="form-control text-center" min="1" max="9">
                                
                                        <button (click)="increment(item)" type="button" class="btn btn-success">
                                            <b>+</b>
                                        </button>
                            </div></td>
                            <td class="text-right">{{item.price | currency:"INR"}}</td>
                            <td class="text-right"><button (click)="delete(item)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">{{subTotal | currency:"INR"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">{{shipingCost | currency:"INR"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{total | currency:"INR"}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button (click)="Continue()" class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button (click)="checkout()" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

