
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="assets/images/Carousel/Carousel-100.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="assets/images/Carousel/Carousel-101.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="assets/images/Carousel/Carousel-102.jpg"  alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Display data in card formate -->

<div class="container">
  <div class="row" >
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let itm of items">
        <div class="card h-100">
          <a routerLink=""><img class="card-img-top img-responsive" [src]="itm.imageUrl" width="150" height="400"></a>
          <div class="card-body">
            <h4 class="card-title text-truncate">
              <a routerLink="">{{itm.name}}</a>
            </h4>
            <h5>{{itm.unitPrice | currency: 'INR'}}</h5>
            <p class="card-text text-truncate">{{itm.description}}</p>
          </div>
          <!-- <div class="card-footer">
            <button (click)="addInCart(itm)" class="btn btn-primary float-right">Add Cart</button>
          </div> -->
        </div>
      </div>

</div>

