/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face{
    font-family: 'Roboto Mono';
    src: url(/assets/fonts/Roboto_Mono-Regular.ttf) format("truetype");
}

h1{
    font-family: 'Roboto Mono';
    
}

/* body {
    padding-top: 56px;
} */

  body,html{
      height: 100%;
  }

  .footer{
      position: absolute;
      bottom: 10px;
      height: 60px;

  }

  .wrapper{
      min-height: 100%;
      position: relative;
  }

  .content{
      padding-bottom: 100px;
  }

  /* .a{
    font-size: medium;
  } */

  .b{
      /* font-size: small; */
      background-color: rgba(0, 0, 0, 0.096);
      
  }

  .c{
      color: #000;
  }